.Footer {
  background-color: #0c1117;
  color: white;
  font-style: "League Spartan";
  padding: 40px;
}

.icons {
  display: flex;
  cursor: pointer;
  padding: 5px;
}

.icons img {
  color: inherit;
  font-size: 25px;
  margin: 0 14px;
  cursor: pointer;
  height: 30px;
  position: relative;
}

.onglets {
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  cursor: pointer;
}

.onglets a {
  color: white;
}

.contact {
  margin-right: 50px;
}

.cookies {
  margin-right: 50px;
}

.utilisations {
  margin-right: 50px;
}

.copyright {
  margin-top: 1rem;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .onglets {
    text-align: left;
    display: grid;
    flex-direction: column;
    margin: auto;
  }

  .copyright {
    margin-top: 1rem;
  }
}
