* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border : 1px solid red */
}


.card_movie {
  overflow: hidden;
  width: 130px;
  transition: 0.3s;
  animation: ease-in;
  display: inline-block;
  height: 230px;
  /* margin: 5px 8px 10px 8px; */
  margin: 5px 11px 15px 15px;
}
.card_movie:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 0px 15px 0px; */
}
.card_movie > img {
  height: 170px;
  width: 100%;
  border-radius: 5%;
}
.card_movie > h4 {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  margin-left: 3px;
}
.card_movie > p1 {
  color: white;
  margin-left: 3px;
  font-size: 1rem;
  text-align: left;
}
.card_movie > p1 > span {
  margin-left: 10px;
  font-size: 1rem;
  color: #fad946;
}

h3 {
  font-size: var(--h3-font-size);
  padding: var(--h3-padding);

}
.header_nouveautés {
  width: 95%;
  margin: auto;
}
.card_comédie {
  width: 95%;
  margin: auto;
}

.card_action {
  width: 95%;
  margin: auto;
}

.genres_test  {
  z-index: 900;
  text-align: center;
}

#pagination_number > nav > ul > li > button {
  color: white;
}

h1 {
  font-size: var(--all-h1-size);
  margin-bottom: var(--margin-h1-left);
}

.Title_Genres h1 {
  margin-left: var(--margin-h1-left);
  margin-bottom: var(--margin-h1-left);
}

.genres {
  margin-left: var(--margin-h1-left);
}
