@media (max-width: 780px) {
  nav {
    padding-left: 0;
    background-color: #0c1117;
  }

  .mobile_menu {
    width: 100%;
    display: block;
    position: relative;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    z-index: 9999;
  }

  .mobile_menu .menu-items {
    display: flex;
    background-color: #0c1117;
  }

  .mobile_menu .nav-container ul {
    list-style: none;
  }

  .mobile_menu .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 80px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 35%;
    left: 88%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35%;
    left: 88%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .mobile_menu .menu-items {
    padding-top: 120px;
    height: 100vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.4s ease-in-out;
    text-align: center;
    z-index: 9999;
  }

  .mobile_menu .menu-items ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .menu-items > .menu-list {
    padding-left: 0;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .desktop_h2-nav img {
    width: 35%;
    display: block;
    position: absolute;
    top: 15%;
    left: 8%;
  }
}

@media (min-width: 781px) {
  .mobile_menu {
    display: block;
    position: relative;
    /* justify-content: space-between;
    align-items: center; */
    padding: 16px 24px;
    background-color: #0c1117;
  }
  .mobile-menu .menu-items {
    width: 33%;
  }

  .mobile-menu .menu-items ul {
    width: 100%;
  }

  .menu-items > .menu-list {
    text-align: center;
  }

  .mobile_menu h2,
  .mobile_menu a {
    color: rgba(255, 255, 255, 0.737);
  }

  .mobile_menu a {
    margin-left: 24px;
  }

  .mobile_menu a:hover {
    color: white;
  }
}
