@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* .search_container {
  position: absolute;
  background-color: black;
  position: relative;
  border-radius: 30px;
  padding: 3px 50px 3px 10px;
} */

.search_container {
  background-color: black;
  border: 2px solid white;
  /* position: relative; */
  border-radius: 30px;
  padding: 3px 0px 3px 10px;
  height: 40px;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
  float: right;
  margin-right: 16px;
}

.search-box {
  /* background-color: transparent; */
  /* outline: none; */
  height: 35px;
  font-size: 15px;
  /* border: 2px solid white; */
  width: 50%;
  /* display: none; */
  cursor: pointer;
}
.search-button {
  right: 4px;
  top: 4px;
  background-color: #ffde59;
  border-radius: 0% 30px 30px 0%;
  border: 2px solid white;
  color: black;
  width: 80px;
  height: 37px;
  outline: 0;
  /* margin-left: 215px; */
  float: right;
}

@media (min-width: 401px) {
  .search_container {
    background-color: black;
    border: 2px solid white;
    position: relative;
    border-radius: 30px;
    padding: 3px 0px 3px 10px;
    height: 40px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    float: right;
    margin-right: 16px;
  }
  .search-box {
    background-color: transparent;
    /* outline: none; */
    height: 35px;
    font-size: 15px;
    /* border: 2px solid; */
    width: 100%;
    cursor: pointer;
  }
  .search-button {
    /* position: absolute; */
    right: 4px;
    top: 4px;
    background-color: #ffde59;
    border-radius: 0% 30px 30px 0%;
    border: 2px solid white;
    color: black;
    width: 100px;
    height: 37px;
    outline: 0;
  }

  /* .search_bar {
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
    padding: 0;
    width: 75%;
  }

  #site-search {
    padding-right: 50px;
  }

  #search-btn {
    margin: 8px;
    padding: 16px 40px;
  } */
}
